@import url(https://fonts.googleapis.com/css?family=Oswald:700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #333333;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button {
  display: inline-block;
  border-radius: 6px;
  background: #00d1b5;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  padding: 8px 28px;
  border: 2px solid #00d1b5;
  -webkit-transition: border 0.3s ease, color 0.3s ease;
  transition: border 0.3s ease, color 0.3s ease;
}

.button:hover {
  border-color: #fff;
  color: #000;
}

.button span {
  display: inline-block;
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
}

.ripple {
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - toRem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main {
  height: 100vh;
  min-height: 500px;
  position: relative;
}

.main__perehod_img {
  position: absolute;
  pointer-events: none;
  bottom: 50px;
  width: calc(100vw + 70px);
  scale: 1.2;
}

.main__perehod_img-1 {
  left: -10%;
}

.main__perehod_img-2 {
  left: 10%;
  opacity: 60%;
}

.main__content {
  z-index: 2;
  position: absolute;
  height: 80vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 16px;
  width: calc(100% - 30px);
}

.main__content h1 {
  max-width: 41.875rem;
  color: #fff;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__content a {
  color: var(--dark-500, #333);
  text-align: center;
  font-size: 21px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 143%;
}

.main__background {
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  z-index: 0;
}

.benefits {
  background: #333333;
  padding-top: 2.5rem;
  margin-top: -6.25rem;
  position: relative;
  z-index: 2;
  margin-bottom: 96px;
}

.benefits__top {
  max-width: 43.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits__top h2 {
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.benefits__top h2 mark {
  color: #06d0b6;
  background: transparent;
}

.benefits__top p {
  max-width: 30.625rem;
  color: #f1f5f9;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__card {
  margin-top: 2rem;
  border-radius: 5px;
  border: 1px solid #00d1b5;
  background-size: cover;
  width: 370px;
  height: 320px;
  padding: 30px 16px;
  position: relative;
  overflow: hidden;
}

.benefits__card:hover .benefits__card_info {
  bottom: 0%;
}

.benefits__card_info {
  width: 100%;
  height: 130%;
  position: absolute;
  background: rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 15px;
  bottom: -130%;
  -webkit-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.benefits__card_info.mobile {
  bottom: 0%;
  background: rgba(51, 51, 51, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.benefits__card_text {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  -webkit-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
          transform: skewX(-15deg);
  padding: 12px 28px;
  border-radius: 6px;
  width: calc(100% - 60px);
  border: 2px solid #00d1b5;
  text-align: center;
  background: #fff;
}

.benefits__card_text span {
  display: inline-block;
  -webkit-transform: skewX(15deg);
      -ms-transform: skewX(15deg);
          transform: skewX(15deg);
  color: #00332c;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.courses {
  margin-bottom: 6.25rem;
}

.courses__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 8px;
  max-width: 51.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.courses__top h2 {
  text-align: center;
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.courses__top h2 mark {
  color: #06d0b6;
  background: transparent;
}

.courses__top p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.courses__block {
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.courses__card {
  border-radius: 5px;
  border: 1px solid var(--prime-500, #00d1b5);
  opacity: 0.6999999881;
  width: 100%;
  max-width: 350px;
  height: 320px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-size: cover;
}

.courses__card::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--prime-500, #00d1b5);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.4;
}

.courses__card::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--prime-500, #00d1b5);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.courses__card:hover {
  opacity: 1;
}

.courses__card:hover .courses__card_text span div {
  width: 100%;
}

.courses__card.click::before {
  width: 150%;
  height: 150%;
}

.courses__card.click::after {
  width: 150%;
  height: 150%;
}

.courses__card.click .courses__card_text span {
  opacity: 0;
}

.courses__card_text {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: -15px;
  height: 74px;
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  padding: 12px 28px;
  border-radius: 6px;
  width: calc(100% - 120px);
  min-width: 270px;
  white-space: nowrap;
  border: 2px solid transparent;
  text-align: left;
  background: rgba(51, 51, 51, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-transition: all 0.3s cubic-bezier(0.75, 0.39, 0.12, 1.05);
  transition: all 0.3s cubic-bezier(0.75, 0.39, 0.12, 1.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
}

.courses__card_text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  transform: skewX(15deg);
  color: var(--prime-500, #00d1b5);
  font-size: 16px;
  height: 2.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 143%;
  -webkit-transition: scale 0.3s ease, opacity 0.3s ease;
  transition: scale 0.3s ease, opacity 0.3s ease;
}

.courses__card_text span span.small {
  font-size: 0.75rem;
  -webkit-transform: skew(0);
      -ms-transform: skew(0);
          transform: skew(0);
  margin-top: 0rem;
}

.courses__card_text span div {
  text-align: center;
  width: 40%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.courses__spollers_item {
  padding: 1rem 0;
  border-bottom: 1px solid #fff;
}

.courses__spollers_item:first-child {
  border-top: 1px solid #fff;
}

.courses__spollers_title {
  list-style: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses__spollers_title::-webkit-details-marker {
  display: none;
}

.courses__spollers_title div {
  margin-right: 5px;
}

.courses__spollers_title span {
  margin-left: 5px;
}

.courses__spollers_title._spoller-active span {
  scale: 1.05;
}

.courses__spollers_title._spoller-active span::after {
  rotate: -180deg;
}

.courses__spollers_title:hover span {
  opacity: 1;
  scale: 1.05;
}

.courses__spollers_title span {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease, scale 0.3s ease;
  transition: opacity 0.3s ease, scale 0.3s ease;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.courses__spollers_title span::before,
.courses__spollers_title span::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 1px;
  background: #fff;
  border-radius: 2px;
  top: calc(50% - 0.5px);
  left: calc(50% - 9px);
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

.courses__spollers_title span::after {
  rotate: 90deg;
  -webkit-transition: rotate 0.3s ease;
  transition: rotate 0.3s ease;
}

@media (min-width: 75em) {
  .main__content h1 {
    font-size: 3rem;
  }

  .benefits__top h2 {
    font-size: 2rem;
  }

  .benefits__top p {
    font-size: 1rem;
  }

  .courses__top h2 {
    font-size: 2rem;
  }

  .courses__top p {
    font-size: 1rem;
  }

  .courses__spollers_title {
    font-size: 1.25rem;
  }
}

@media (max-width: 75em) {
  .benefits__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .courses__block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 50em) {
  .courses__block {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 20em) {
  .main__content h1 {
    font-size: 2rem;
  }

  .benefits__top h2 {
    font-size: 1.5rem;
  }

  .benefits__top p {
    font-size: 0.875rem;
  }

  .courses__top h2 {
    font-size: 1.5rem;
  }

  .courses__top p {
    font-size: 0.875rem;
  }

  .courses__spollers_title {
    font-size: 1rem;
  }
}

@media (max-width: 55.625em) {
  .main__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .main__content h1 {
      font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6363636364rem  +  1.8181818182vw , 3rem )) {
    .main__content h1 {
      font-size: calc(2rem + 1 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
    .benefits__top h2 {
      font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
    .benefits__top h2 {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .benefits__top p {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .benefits__top p {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
    .courses__top h2 {
      font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3181818182rem  +  0.9090909091vw , 2rem )) {
    .courses__top h2 {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .courses__top p {
      font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
    .courses__top p {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .courses__spollers_title {
      font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9090909091rem  +  0.4545454545vw , 1.25rem )) {
    .courses__spollers_title {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 55);
    }
}
}